
@media (min-width: 768px), print {
  .page-layout-1column .product.media {
    width: 100%;
  }


}


//
//
//
//.fotorama__stage{
//  width:100% !important;
//  .fotorama__stage__frame{
//    .fotorama__img{
//      width:100%;
//    }
//  }
//}
//
///*override gallery*/
//
//.fotorama__wrap--slide{
//  .fotorama__stage__frame{
//    left: auto !important;
//    position: relative !important;
//    .fotorama__img{
//      position: relative;
//      left: auto;
//      top: auto;
//      transform: none;
//    }
//  }
//}
//.fotorama__wrap--css3{
//  .fotorama__stage{
//    height: auto !important;
//    transform:none;
//  }
//  .fotorama__arr{
//    display:none !important;
//  }
//}
//
//.fotorama__wrap--slide {
//  .fotorama__stage__frame {
//    float: left;
//    width: calc(30% - 10px);
//    margin-top: 20px;
//    margin-right: 20px;
//    cursor: pointer;
//    @media only screen and (max-width:$minsm-break){
//      width:100%;
//      pointer-events: none;
//    }
//    &:first-child {
//      pointer-events: none;
//      width: 100%;
//      margin-right: 0;
//      margin-top: 0;
//    }
//    &:not(:first-child) {
//      &:hover {
//        opacity: 0.6 !important;
//        transition: all 0.3s ease-in-out;
//      }
//    }
//    &:nth-child(3n + 4){
//      width:60%;
//      margin-right:0;
//      @media only screen and (max-width:$minsm-break){
//        width:100%;
//        pointer-events: none;
//      }
//    }
//  }
//  .fotorama__stage__shaft {
//    &:after {
//      display: block;
//      content: '';
//      clear: both;
//    }
//  }
//}
//
//
//.fotorama__wrap .fotorama__nav-wrap{
//  display:none !important;
//}

#maincontent{
  padding-top: 79px;
}

.breadcrumbs{
  display:none;
}

.page-title-wrapper{
  display:none;
}




.products-grid {
  .products{
    &.list{
      margin-left: 0;
      .product-item {
        @media only screen and (min-width: $maxsm_break) {
          width: 20%;
          padding-left: 7.5px;
          padding-right: 7.5px;
        }
        @media screen and (max-width: $minsm-break) {
          position: relative;
          float: left;
          min-height: 1px;
          padding-left: 7.5px;
          padding-right: 7.5px;
          width: 50%;
        }
      }
    }
  }
}

.product-item-info{
  width:100%;
  position: relative;
  .details{
    padding: 15px 0;
    .product-item-name{
      margin:0;
      text-transform: uppercase;

    }
    .price-box{
      margin:0;
      .price{
        font-size:1em;
        font-weight:400;
      }
      .price-label{
        display:none;
      }
    }

  }
  a{
    position: relative;
    overflow:hidden;
    display:block;
    > img{
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 4s ease-in-out;
      transition: all 4s ease-in-out;
      display:block;
    }
  }
  .hover_image{
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    //transform: scale(0);
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    width: 100%;
    height:100%;
    img{
      position: absolute;
      top: -9999px;
      right: -9999px;
      bottom: -9999px;
      left: -9999px;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
    }
  }
  &:hover .hover_image{
    opacity: 1;
    overflow: hidden;
  }
  &:hover{
    a{
      &> img{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}

//VERSION 2

.product-page{
  position: relative;
  &:after{
    content:'';
    display:block;
    clear:both;
  }
  .back-link{
    z-index: 5;
    position: absolute;
    top: 15px;
    left: 22.5px;
    display: block;
    text-decoration: none;
    color: $black;
    svg{
      height: .65em;
      margin-right: 10px;
    }
  }
  .main-image{
    .desktop{
      position: relative;
      display:none;
      @media only screen and (min-width: $maxsm_break){
        display:block;
      }
      .down-link{
        width: 17px;
        position: absolute;
        bottom: 30px;
        left: 50%;
        z-index: 10;
        margin-left: -10px;
        display: inline;
        cursor: pointer;
      }
      .inner{
        position: absolute;
        top: 0;
        bottom: 15px;
        left: 0;
        right: 0;
        .item{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-size: cover;
          background-position: center center;
          opacity: 1;
          -webkit-transition: opacity .6s ease-in-out;
          transition: opacity .6s ease-in-out;
        }
      }
    }
    .mobile{
      display: none;
      padding-top: 127%;
      margin-bottom: 15px;
      position: relative;
      @media only screen and (max-width: $minsm-break){
        display: block;
      }
      .item{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: auto 100%;
        background-position: 15% center;
        opacity: 1;
        -webkit-transition: opacity .6s ease-in-out;
        transition: opacity .6s ease-in-out;
      }
    }
  }
  .gallery{
    @media screen and (min-width: $maxsm_break){
      position: relative;
      float: left;
      min-height: 1px;
      width: 60%;
    }
    .item{
      position: relative;
      box-sizing: border-box;
      margin-top: 7.5px;
      @media screen and (max-width: $minsm-break){
        pointer-events: none;
      }
      &:hover{
        opacity: .6;
      }
      @media screen and (min-width: $maxsm_break){
        opacity: 1;
        margin-top: 15px;
        cursor: pointer;
        -webkit-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        float: left;
      }
      &:nth-child(1),&:nth-child(2){
        @media screen and (min-width: $maxsm_break){
          margin-top: 0;
        }
      }
      &:nth-child(3n+1){
        @media screen and (min-width: $maxsm_break){
          width: 50%;
          padding-right: 7.5px;
        }
      }
      &:nth-child(3n+2){
        @media screen and (min-width: $maxsm_break){
          width: 50%;
          padding-left: 7.5px;
        }
      }
      &:nth-child(3n),&:last-child{
        @media screen and (min-width: $maxsm_break){
          width: 100%;
          padding-left: 0;
          padding-right: 0;
        }
      }
      .inner{
        position: relative;
        padding-top:115%;
        @media screen and (min-width: $maxsm_break){
          padding-top: 100%;
        }
      }
      .image{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        opacity: 1;
        -webkit-transition: opacity .6s ease-in-out;
        transition: opacity .6s ease-in-out;
      }
    }
  }

  .product-info-main-outer{
    margin-left:60%;
    @media only screen and (max-width:$minsm-break){
      margin-left:0;
    }
    .product-info-main{
      padding-right: 22.5px;
      padding-left: 7.5px;
      box-sizing: border-box;
      opacity:0;
      -webkit-filter: blur(0.000001px);
      @media only screen and (max-width:$minsm-break){
        position: relative;
        width:100% !important;
        margin-top: 25px;
        padding:0;
        opacity:1;
      }

      .product-info-main-inner{
        @media screen and (min-width: $md_break){
          margin: 0 7.5%;
        }
      }

      .extra-links{
        margin:25px 0;
        @media only screen and (max-width:$minsm-break){
          margin:25px 0 0 0;
        }
        a{
          color: $black;
          @media only screen and (min-width:$maxsm_break){
            display: inline-block;
            margin-right: 15px;
            text-decoration: underline;
            color: $black;
          }
          @media only screen and (max-width:$minsm-break){
            display: block;
            padding: 1em 0;
            margin: 0 -15px;
            text-align: center;
            border-bottom: 1px solid #F0F0F0;
            text-decoration: none;
          }
          &:first-child{
            @media only screen and (max-width:$minsm-break){
              border-top: 1px solid #F0F0F0;
            }
          }
        }
      }
      &.mob{
        margin-top: 0 !important;
        top: 0 !important;
        position: relative !important;
        padding: 0px 20px !important;
      }
      .description{
        margin: 25px 0;
      }
      .material{
        margin: 25px 0;
        > img{
          float: right;
          max-width: 115px;
          max-height: 115px;
          margin-left: 10px;
        }
      }
      .product{
        &.attribute{
          p,h3{
            font-size:1em;
          }
          h3{
            font-weight:700;
          }
          a{
            color:$black;
            text-decoration: underline;
          }
        }
      }
      .product-info-price{
        margin-bottom:25px;
        .product.attribute{
          .value{
            font-size:1.5em;
            font-weight:500;
            color:black;
          }
        }
      }
      &.sticky{
        position: fixed;
        opacity:1;
        //right:0;
        z-index:50;
        width:40%;
        &.reached-bottom{
          //right: 0 !important;
        }
      }
      .stock{
        &.available,&.unavailable{
          color:blue !important;
        }
      }
      .box-tocart{
        display:block;
        margin: 15px 0 0 0;
        .fieldset{
          &:after{
            content:'';
            display:block;
            clear:both;
          }
          .action{
            &.tocart{
              width:100%;
              border-radius: 0;
              background: black;
              border: 1px solid black;
              font-size: 1em;
              font-weight: 400;
            }
          }
          .actions{
            float:left;
            padding-top:0;
            width:50%;
          }
          .price-box{
            float:left;
            border: 1px solid $black!important;
            line-height:50px;
            text-align: center;
            width:50%;
            box-sizing: border-box;
            margin-top:0;
            display:block;
            @media only screen and (max-width: $minsm-break){
              display:none;
            }
            .weee{
              .price-label{
                display:none !important;
              }
            }
            .price-wrapper{
              .price{
                font-size: 1em;
                font-weight: 400;
              }
            }
          }
          .actions{
            @media only screen and (max-width: $minsm-break){
              width:100%;
            }
          }
        }

      }

    }
  }

}

//temporary disable (will be removed from xml)

.product-page .product-info-main .stock.available, .product-page .product-info-main .stock.unavailable,.product-reviews-summary.empty{
  display:none;
}