footer{
  .footer{
    &.content{
      padding-left:0;
      padding-right:0;
      border-top: 0;
      margin-top: 0px;
      .footer-points{
        margin: 0 0 45px;
        font-size: 0.85em;
      }
      .links{
        width:100%;
        padding: 45px 0;
        background-color: #F0F0F0;
        .container-fluid{
          padding-left: 30px;
          padding-right: 30px;
          .link-group{
            a{
              display: inline-block;
              margin: 0 0 10px;
              text-decoration: none;
              text-transform: uppercase;
              color: #686868;
              font-size: .85em;
              -webkit-transition: all .3s ease-in-out;
              transition: all .3s ease-in-out;
            }
            h5{
              text-transform: uppercase;
              font-size: 1.15em;
              font-family: "Trade Gothic W01 Bold",HelveticaNeue-CondensedBold,"Arial Bold";
              margin: 0 0 15px;
            }
            @media screen and (min-width: $maxsm_break){
              position: relative;
              float: left;
              min-height: 1px;
              padding-left: 7.5px;
              padding-right: 7.5px;
              width: 25%;
            }
          }
        }
      }
    }
  }
  .disclaimer{
    padding: 45px 0;
    font-size: .85em;
    color: #686868;
    .container-fluid{
      padding-left: 30px;
      padding-right: 30px;
      max-width: 2030px;
      margin-left: auto;
      margin-right: auto;
      .row{
        margin-left: -7.5px;
        margin-right: -7.5px;
        .col{
          min-height: 1px;
          padding-left: 7.5px;
          padding-right: 7.5px;
          width: 100%;
        }
      }
    }
    p{
      margin: 0;
      text-transform: uppercase;
      font-family: "Trade Gothic W01 Bold",HelveticaNeue-CondensedBold,"Arial Bold";
    }
  }
}

.footer-points{
  @media only screen and (min-width:$maxsm_break){
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: .85em;
    color: #686868;
    text-transform: uppercase;
  }
  text-align: center;
  margin: 60px 0 45px;
  > em{
    @media screen and (min-width: $maxsm_break){
      height: 30px;
      width: 1px;
      background-color: #9c9c9c;
      display: block;
    }
    @media screen and (max-width: $minsm_break){
      margin-top:45px;
      display: block;
      width: 60px;
      height: 1px;
      background-color: #9c9c9c;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &:before,&:after{
    content: '';
  }
  >div{
    .certificates{
      white-space: nowrap;
      .icons,.text{
        display: inline-block;
        vertical-align: middle;
      }
      .icons{
        svg{
          height: 40px;
          max-width: 40px;
          fill: #686868;
        }
      }
    }
    @media screen and (max-width: $minsm_break){
      margin-top:45px;
    }
    &:first-child{
      @media screen and (max-width: $minsm_break){
        margin-top:0;
      }
    }
  }
}
