.down-link{
  width:10px;
}

.page-header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background:$white;
  z-index:500;
  .block-search{
    width:100%;
    height:0;
    overflow: hidden;
    transition:all 0.3s ease-in-out;
    &.open{
      height:57px;
    }
    .nested{
      display:none;
    }
  }
  .menu{
    float:left;
    width: calc(100% - 125px);
    margin-top:23px;
    .nav-sections{
      background:transparent;
    }
    .navigation{
      text-align: center;
      background:transparent;
      .level0{
        vertical-align:top;
        margin: 0;
        a{
          padding:0 20px;
          &.level-top{
            line-height: 25px;
          }
        }
        .submenu{
          position: relative;
          top:0 !important;
          left:0 !important;
          min-width:inherit;
          width:20px;
          background:$white;
          box-shadow: none;
          border:0;
        }
        li{
          padding: 0 0.9em;
          a{
            padding:5px 0;
          }
        }
        &.active{
          &>.level-top{
            border-color:transparent;
          }
        }
        &.has-active{
          &>.level-top{
            border-color:transparent;
          }
        }
      }
    }
    .nav-sections{
      margin-bottom:0;
    }
  }
  #custom-header-id{
    padding-left: 30px;
    padding-right: 30px;
  }
}

.shortcuts{
  margin-top: 0.85em;
  .cert-icons{
    border-right: 1px solid #9c9c9c;
    display: inline-block;
    margin-right: .7em;
    height: 15px;
    padding-right: 1em;
    vertical-align: middle;
    -webkit-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;
    svg{
      height: 15px;
      max-width: 18px;
      margin-left:7px;
    }
  }
  .top-shortcuts > a{
    text-decoration: none;
    color: #686868;
    font-size: .85em;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    margin-bottom: .4em;
  }
  li{
    a{

    }
  }
}

.bottom-shortcuts{
  #search{
    float:right;
    margin-right:0.9em;
    svg{
      width:15px;
    }
  }
  .create-link{
    background-image: url(../images/account.svg);  /* shows image */
    width: 15px;
    height: 15px;
    display:block;
    background-repeat: no-repeat;

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .minicart-wrapper{
    .action{
      &.showcart{
        &:before{
          content:url(../images/cart.svg);
          width: 15px;
          height: 15px;
          font-size:1px;
          line-height: initial;
        }
        .counter{
          &.qty{
            display:inline-block !important;
            height: initial;
            line-height: initial;
            min-width: initial;
            margin:0;
            padding:0;
            background: transparent;
            color: #686868;
          }
        }
      }
    }
  }

}




.logo-container{
  float:left;
  width:125px;
  margin-top:23px;
  .logo{
    max-width:100%;
  }
}

.page-header .panel.wrapper{
  display:none;
}


.essential{
  position: absolute;
  right: 30px;
  z-index: 50;
  .compare,.greet{
    display:none;
  }
  ul{
    &.header{
      &.links{
        list-style: none;
        padding-left:0;
        float:right;
        margin-bottom:0;
      }
    }
  }
}
