
/*MODAL*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  overflow:hidden;
  opacity:0;
  -webkit-animation: fadeInFromNone 0.3s ease-in-out;
  -moz-animation: fadeInFromNone 0.3s ease-in-out;
  -o-animation: fadeInFromNone 0.3s ease-in-out;
  animation: fadeInFromNone 0.3s ease-in-out;
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 94vw;
    height: 94vh;
    overflow: hidden;
    max-width: 94vh;
    max-height: 94vw;
    @media only screen and (max-width: $maxsm_break){
      width: 95%;
    }
    img{
      position: absolute;
      top: -9999px;
      right: -9999px;
      bottom: -9999px;
      left: -9999px;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
    }
  }
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: $maxsm_break;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  /* Add Animation */
  .modal-content, #caption {

  }
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    width: 15px;
    z-index:10;
    svg{
      position: absolute;
      top:0;
      left:0;
      width:15px;
      height:15px;
    }
    &:hover,&:focus{
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

//extra css for care/delivery modal

.modal{
  .modal-content{
    &.small{
      height: auto;
      max-width: inherit;
      max-height: inherit;
      @media only screen and (min-width: 701px){
        width: auto;
        max-width: 99vh;
        max-height: 99vw;
      }
      .close{
        svg{
          path{
            stroke:$white;
          }
        }
      }
      img{
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        margin: auto;
        min-width: inherit;
        min-height: 100%;
      }
    }
    .modal-head{
      position: relative;
      height:200px;
      background-size:cover;
      background-position: center center;
      background-repeat: no-repeat;
      .title{
        line-height:200px;
        width:100%;
        color:$white;
        text-align:center;
        text-shadow: 0 0 5px $black;
        margin:0;
      }
    }
    .modal-body{
      background:$white;
      padding: 45px 60px;
      @media only screen and (max-width: $minsm_break){
        padding: 15px 30px;
      }
      .desc{
        p{

        }
      }
    }
  }
}

#modal-care{
  .modal-head{
    background-image:url(../images/care.png);
  }
}

#modal-delivery{
  .modal-head{
    background-image:url(../images/delivery.png);
  }
}

#modal-size-guide{
  .modal-head{
    background-image:url(../images/sizeguide.png);
  }
}