@media (min-width: 768px), print {
  .navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper>.widget, .page-wrapper>.page-bottom, .block.category.event, .top-container, .page-main{
    max-width: 2030px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body{
  font-family: "Trade Gothic W01 Roman",HelveticaNeue-Condensed,Arial;
  font-size: 13px;
  line-height: 18px;
  color:$black;
}

.h3, .h4, .h5, b, h3, h4, h5, strong{
  font-weight: 400;
  font-family: "Trade Gothic W01 Bold",HelveticaNeue-CondensedBold,"Arial Bold";
}

