.related{
  .block-title{
    &.title{
      #block-related-heading{
        font-size:1.7em;
        text-transform: uppercase;
      }
    }
  }
  .hover_image{
    &> div{
      position: absolute;
      left:0;
      width:100%;
      bottom:0;
      text-align: center;
      .swatch-option{
        float:none;
        display:inline-block;
        &.image{
          width: 20px;
          height: 20px;
          min-width: 20px;
          max-width: 20px;
        }
      }
      .swatch-attribute {
        &.color{
          padding-right: 0;
          width: 100%;
        }
      }
    }
  }
}

