.swatch-opt{
  &:after{
    content:'';
    display:block;
    clear:both;
  }
  .swatch-attribute-options{
    margin-top:6px;
    #size-guide{
      color: $black;
      text-decoration: underline;
      float:right;
      line-height:25px;
    }
  }

}

.swatch-attribute{
  &.color{
    padding-right: 10px;
    width: 40%;
    float:left;
    box-sizing: border-box;
    @media only screen and (min-width:$maxsm_break){
      padding-right: 0px;
    }
    @media only screen and (max-width:$minsm_break){
      width: 100%;
    }
    > .swatch-attribute-label{
      display:none;
    }
    > .swatch-attribute-selected-option{
      padding-left:0;
    }
  }
  &.size{
    width:60%;
    float:left;
    > .swatch-attribute-selected-option{
      display:none;
    }
    > .swatch-attribute-label{
      font-weight:400;
    }
    @media only screen and (max-width:$minsm_break){
      width: 100%;
      margin-top:15px;
    }
    .swatch-option{
      &.selected{
        background:black !important;
        color:$white;
        border: 0;
      }
    }
  }
  .swatch-option{
    border:0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 0 4px 0 0;
    &.image{
      width: 25px;
      height: 25px;
      border-radius: 15px;
      background-size:cover !important;
      min-width: 25px;
      max-width: 25px;
      position: relative;
      box-sizing: border-box;
      padding:0;
      &:after{
        content:'';
        position: absolute;
        display: block;
        width: 50%;
        height: 50%;
        left: 25%;
        top: 25%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        background-color: $white;
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
        opacity: 0;
        border-radius: 50%;
        cursor: pointer;
      }
      &:hover,&.selected{
        &:after{
          opacity: 1;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }
      }
      &:not(.disabled){
        &:hover{
          outline: none;
          border: 0;
        }
      }
      &.disabled{
        &:after{
          background:none;
        }
      }
    }
    &.color{
      border:1px solid transparent;
      &:not(.disabled){
        &:hover{
          outline: none;
          border: 0;
        }
      }
    }
    &.selected{
      outline: none;
      border: 0;
    }
    &:after{
      opacity:0;
      -webkit-transition: opacity .3s ease-in-out;
      transition: opacity .3s ease-in-out;
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    &.disabled{
      opacity: .4;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      &:after{
        background: url('../images/disabled.png');
        background-position:center center;
        opacity:1;
      }
    }
    &.text{
      width: 25px;
      height: 25px;
      border-radius: 1em;
      min-width: 25px;
      max-width: 25px;
      line-height:25px;
      padding: 0;
      position: relative;
      box-sizing: border-box;
      font-size: 0.85em;
      &:not(.disabled){
        &:hover{
          background:black;
          color:$white;
          outline:none;
          border:0;
        }
      }
    }
  }
}



