<div id="custom-header-id" class="header">
    <div class="row no-margin">
        <div class="logo-container">
            <?php echo $this->getChildHtml("logo"); ?>
        </div>

        <div class="menu">
            <?php echo $this->getChildHtml("navigation.sections"); ?>
        </div>

        <div class="essential">
            <div class="shortcuts">
                <div class="top-shortcuts">
                    <span class="cert-icons">
                        <!-- E-mærket -->
                        <svg title="e-mærket" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 112.5 112.5" style="enable-background:new 0 0 112.5 112.5;" xml:space="preserve"><g><path d="M19.3,54H8c-0.9,0-1.4-0.9-0.9-1.7c1.7-2.7,5.7-8.4,13.5-14.1c0,0,0,0,0,0c0.3-0.2,8.4-7.4,22.8-10.3c0,0,20-4.7,39.3,4.2 c0,0,16.2,8.1,22.9,20.2c0.4,0.7-0.1,1.6-1,1.6h-4.8c-1.6,0-3-0.8-3.8-2.2c-1.4-2.5-4.6-6.8-11-11.4c0,0-11.6-8.6-29.8-6.8 c0,0-10.4,0.8-19,6.1c0,0,0,0,0,0c-0.2,0.1-5.5,2.7-13,12.4C22.2,53.3,20.8,54,19.3,54z"/><path d="M93.2,58.5h11.3c0.9,0,1.4,0.9,0.9,1.7c-1.7,2.7-5.7,8.4-13.5,14c0,0,0,0,0,0c-0.3,0.3-8.5,7.4-22.8,10.3 c0,0-20,4.7-39.3-4.2c0,0-16.1-8.1-22.9-20.2c-0.4-0.7,0.1-1.6,1-1.6h4.8c1.6,0,3,0.8,3.8,2.2c1.4,2.5,4.6,6.8,11,11.4 c0,0,11.6,8.6,29.8,6.8c0,0,10.4-0.8,19-6.1c0,0,0,0,0,0c0.3-0.2,5.5-2.8,13-12.4C90.3,59.2,91.7,58.5,93.2,58.5z"/><path d="M67.7,61c-1.3,0-2.5,0.6-3.2,1.7c-0.9,1.3-2.5,3-5.1,3.8c0,0-6.2,2.3-10.8-3L72.2,53c0.9-0.4,1.4-1.5,1-2.5 c-2.6-6.9-9.5-11.8-17.4-11.5c-9.4,0.3-17.1,8-17.3,17.5c-0.2,10.1,7.9,18.4,17.9,18.4c8,0,14.8-5.3,17.1-12.5 c0.2-0.6-0.3-1.3-0.9-1.3L67.7,61z M46.2,57c0-5.6,4.5-10.1,10.1-10.1c3.1,0,5.9,1.4,7.7,3.6l-17.7,8C46.2,58,46.2,57.5,46.2,57z"/></g></svg>

                        <!-- EE Trust -->
                        <svg title="Ecommerce Europe" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 130.9 105.5" style="enable-background:new 0 0 130.9 105.5;" xml:space="preserve"><g><g><path class="st0" d="M35.1,30.4h6c0.1,0.3,0.1,0.6,0.1,0.9c0,0.3,0,0.6-0.1,0.9h-3.8v2.3h3c0.1,0.3,0.1,0.6,0.1,0.9 c0,0.3,0,0.6-0.1,0.9h-3v2.8h3.9c0.1,0.3,0.1,0.6,0.1,0.9c0,0.3,0,0.6-0.1,0.9h-6.1V30.4z"/><path class="st0" d="M50.5,38.9c0.1,0.3,0.2,0.6,0.3,0.8c0.1,0.3,0.1,0.6,0.2,0.9c-0.5,0.2-1,0.3-1.4,0.4C49.2,41,48.7,41,48.3,41 c-0.8,0-1.6-0.1-2.2-0.4c-0.6-0.3-1.1-0.6-1.6-1.1c-0.4-0.5-0.7-1.1-1-1.7c-0.2-0.7-0.3-1.4-0.3-2.2c0-0.8,0.1-1.5,0.3-2.2 c0.2-0.7,0.5-1.2,1-1.7c0.4-0.5,0.9-0.9,1.6-1.1c0.6-0.3,1.3-0.4,2.1-0.4c0.5,0,0.9,0,1.3,0.1c0.4,0.1,0.8,0.2,1.3,0.4 c0,0.3-0.1,0.6-0.2,0.9c-0.1,0.3-0.2,0.6-0.3,0.8c-0.3-0.1-0.6-0.2-0.9-0.2c-0.3,0-0.6-0.1-0.9-0.1c-0.9,0-1.7,0.3-2.2,0.9 c-0.5,0.6-0.8,1.5-0.8,2.7c0,2.4,1,3.6,3,3.6c0.4,0,0.7,0,1-0.1C49.8,39.1,50.1,39,50.5,38.9z"/><path class="st0" d="M57.3,41c-0.8,0-1.5-0.1-2-0.4c-0.6-0.3-1-0.7-1.4-1.1c-0.4-0.5-0.6-1.1-0.8-1.7c-0.2-0.7-0.3-1.4-0.3-2.2 c0-0.8,0.1-1.5,0.3-2.2c0.2-0.7,0.5-1.2,0.8-1.7c0.4-0.5,0.8-0.9,1.4-1.1c0.6-0.3,1.3-0.4,2-0.4c0.8,0,1.5,0.1,2,0.4 c0.6,0.3,1,0.7,1.4,1.1c0.4,0.5,0.6,1.1,0.8,1.7c0.2,0.7,0.3,1.4,0.3,2.2c0,0.8-0.1,1.5-0.3,2.2c-0.2,0.7-0.5,1.2-0.8,1.7 c-0.4,0.5-0.8,0.9-1.4,1.1C58.7,40.9,58,41,57.3,41z M57.3,39.3c1.5,0,2.3-1.2,2.3-3.6c0-1.2-0.2-2.1-0.5-2.7 C58.6,32.3,58,32,57.3,32c-1.5,0-2.3,1.2-2.3,3.6S55.7,39.3,57.3,39.3z"/><path class="st0" d="M64.7,30.4c0.4-0.1,0.8-0.1,1.1-0.1c0.4,0,0.8,0,1.1,0.1l2.4,6l2.5-6c0.3-0.1,0.6-0.1,1-0.1 c0.4,0,0.7,0,1.1,0.1l0.5,10.5c-0.4,0.1-0.7,0.1-1.1,0.1c-0.3,0-0.7,0-1-0.1l-0.3-7.1L70,38.7c-0.1,0-0.3,0-0.4,0.1 c-0.1,0-0.3,0-0.4,0c-0.1,0-0.3,0-0.4,0c-0.1,0-0.3,0-0.4-0.1l-2-5l-0.2,7.2c-0.3,0.1-0.6,0.1-0.9,0.1c-0.3,0-0.6,0-1-0.1 L64.7,30.4z"/><path class="st0" d="M77.6,30.4c0.4-0.1,0.8-0.1,1.1-0.1c0.4,0,0.8,0,1.1,0.1l2.4,6l2.5-6c0.3-0.1,0.6-0.1,1-0.1 c0.4,0,0.7,0,1.1,0.1l0.5,10.5C87,40.9,86.6,41,86.3,41c-0.3,0-0.7,0-1-0.1L85,33.7l-2.1,4.9c-0.1,0-0.3,0-0.4,0.1 c-0.1,0-0.3,0-0.4,0c-0.1,0-0.3,0-0.4,0c-0.1,0-0.3,0-0.4-0.1l-2-5l-0.2,7.2c-0.3,0.1-0.6,0.1-0.9,0.1c-0.3,0-0.6,0-1-0.1 L77.6,30.4z"/> <path class="st0" d="M90.2,30.4h6c0.1,0.3,0.1,0.6,0.1,0.9c0,0.3,0,0.6-0.1,0.9h-3.8v2.3h3c0.1,0.3,0.1,0.6,0.1,0.9 c0,0.3,0,0.6-0.1,0.9h-3v2.8h3.9c0.1,0.3,0.1,0.6,0.1,0.9c0,0.3,0,0.6-0.1,0.9h-6.1V30.4z"/><path class="st0" d="M99,30.4c0.4,0,0.8-0.1,1.2-0.1c0.4,0,0.8-0.1,1.2-0.1c0.5,0,1.1,0,1.6,0.1c0.5,0.1,1,0.3,1.4,0.5 c0.4,0.2,0.8,0.6,1,1c0.3,0.4,0.4,1,0.4,1.6c0,0.4,0,0.7-0.1,1c-0.1,0.3-0.2,0.6-0.4,0.8c-0.2,0.2-0.3,0.4-0.5,0.6 c-0.2,0.2-0.3,0.3-0.5,0.4l-0.2,0.2l2.6,4.4c-0.2,0-0.4,0-0.6,0.1c-0.2,0-0.4,0-0.7,0c-0.4,0-0.7,0-1.1-0.1l-2.7-4.9l0.4-0.2 c0.1-0.1,0.3-0.2,0.5-0.3c0.2-0.1,0.4-0.2,0.6-0.4c0.2-0.2,0.3-0.4,0.5-0.6c0.1-0.2,0.2-0.5,0.2-0.8c0-0.6-0.2-1.1-0.5-1.4 c-0.4-0.3-0.8-0.4-1.4-0.4c-0.2,0-0.4,0-0.6,0v8.9c-0.2,0-0.4,0-0.5,0.1c-0.2,0-0.3,0-0.5,0c-0.2,0-0.3,0-0.5,0 c-0.2,0-0.4,0-0.6-0.1V30.4z"/><path class="st0" d="M115.4,38.9c0.1,0.3,0.2,0.6,0.3,0.8c0.1,0.3,0.1,0.6,0.2,0.9c-0.5,0.2-1,0.3-1.4,0.4 c-0.4,0.1-0.8,0.1-1.3,0.1c-0.8,0-1.6-0.1-2.2-0.4c-0.6-0.3-1.1-0.6-1.6-1.1c-0.4-0.5-0.7-1.1-1-1.7c-0.2-0.7-0.3-1.4-0.3-2.2 c0-0.8,0.1-1.5,0.3-2.2c0.2-0.7,0.5-1.2,1-1.7c0.4-0.5,0.9-0.9,1.6-1.1c0.6-0.3,1.3-0.4,2.1-0.4c0.5,0,0.9,0,1.3,0.1 c0.4,0.1,0.8,0.2,1.3,0.4c0,0.3-0.1,0.6-0.2,0.9c-0.1,0.3-0.2,0.6-0.3,0.8c-0.3-0.1-0.6-0.2-0.9-0.2c-0.3,0-0.6-0.1-0.9-0.1 c-0.9,0-1.7,0.3-2.2,0.9c-0.5,0.6-0.8,1.5-0.8,2.7c0,2.4,1,3.6,3,3.6c0.4,0,0.7,0,1-0.1C114.8,39.1,115.1,39,115.4,38.9z"/><path class="st0" d="M118.4,30.4h6c0.1,0.3,0.1,0.6,0.1,0.9c0,0.3,0,0.6-0.1,0.9h-3.8v2.3h3c0.1,0.3,0.1,0.6,0.1,0.9 c0,0.3,0,0.6-0.1,0.9h-3v2.8h3.9c0.1,0.3,0.1,0.6,0.1,0.9c0,0.3,0,0.6-0.1,0.9h-6.1V30.4z"/><path class="st0" d="M35.4,45.2h5.8c0,0.2,0,0.4,0,0.6c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0,0.3h-4.3v3h3.4c0,0.1,0,0.2,0,0.3 c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0,0.3h-3.4v3.6h4.4c0,0.2,0,0.4,0,0.6c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0,0.3 h-5.9V45.2z"/><path class="st0" d="M43.9,45.2c0.2,0,0.5,0,0.8,0c0.3,0,0.5,0,0.7,0v6c0,0.6,0,1.1,0.1,1.5c0.1,0.4,0.2,0.8,0.4,1 c0.2,0.3,0.4,0.5,0.7,0.6c0.3,0.1,0.6,0.2,1.1,0.2c0.4,0,0.8-0.1,1.1-0.2c0.3-0.1,0.5-0.3,0.7-0.6c0.2-0.3,0.3-0.6,0.4-1 c0.1-0.4,0.1-0.9,0.1-1.5v-6c0.2,0,0.5,0,0.7,0c0.3,0,0.5,0,0.8,0v6.2c0,0.7-0.1,1.3-0.2,1.9c-0.1,0.6-0.3,1-0.6,1.4 c-0.3,0.4-0.7,0.7-1.2,0.9c-0.5,0.2-1.1,0.3-1.7,0.3c-0.7,0-1.3-0.1-1.7-0.3c-0.5-0.2-0.9-0.5-1.2-0.9c-0.3-0.4-0.5-0.8-0.6-1.4 c-0.1-0.6-0.2-1.2-0.2-1.9V45.2z"/><path class="st0" d="M54.8,45.2c0.2,0,0.4,0,0.6-0.1c0.2,0,0.3,0,0.5-0.1c0.2,0,0.3,0,0.5,0c0.2,0,0.4,0,0.6,0c0.5,0,1,0,1.5,0.1 c0.5,0.1,0.9,0.3,1.3,0.5c0.4,0.2,0.7,0.6,0.9,1c0.2,0.4,0.4,0.9,0.4,1.6c0,0.4-0.1,0.7-0.2,1c-0.1,0.3-0.3,0.6-0.5,0.8 c-0.2,0.2-0.4,0.5-0.7,0.6c-0.2,0.2-0.5,0.3-0.7,0.4l-0.2,0.1l3.1,4.4c-0.3,0-0.6,0-0.9,0c-0.3,0-0.5,0-0.8,0l-3.4-4.9v-0.1l0.1,0 c0.3-0.1,0.5-0.2,0.8-0.3c0.3-0.1,0.6-0.3,0.8-0.5c0.2-0.2,0.5-0.4,0.6-0.7c0.2-0.3,0.2-0.6,0.2-1c0-0.7-0.2-1.2-0.6-1.6 c-0.4-0.3-1-0.5-1.7-0.5c-0.2,0-0.3,0-0.5,0c-0.1,0-0.3,0-0.5,0v9.4c-0.1,0-0.2,0-0.4,0c-0.1,0-0.3,0-0.4,0s-0.2,0-0.4,0 c-0.1,0-0.3,0-0.4,0V45.2z"/><path class="st0" d="M68.2,55.9c-0.8,0-1.4-0.1-2-0.4c-0.6-0.3-1-0.6-1.4-1.1c-0.4-0.5-0.6-1.1-0.8-1.7c-0.2-0.7-0.3-1.4-0.3-2.2 c0-0.8,0.1-1.5,0.3-2.2c0.2-0.7,0.5-1.2,0.8-1.7c0.4-0.5,0.8-0.9,1.4-1.1c0.6-0.3,1.2-0.4,2-0.4c0.8,0,1.4,0.1,2,0.4 c0.6,0.3,1,0.7,1.4,1.1c0.4,0.5,0.6,1.1,0.8,1.7c0.2,0.7,0.3,1.4,0.3,2.2c0,0.8-0.1,1.5-0.3,2.2c-0.2,0.7-0.4,1.2-0.8,1.7 c-0.4,0.5-0.8,0.9-1.4,1.1C69.6,55.8,69,55.9,68.2,55.9z M68.2,54.6c0.5,0,0.9-0.1,1.3-0.3c0.4-0.2,0.7-0.5,0.9-0.8 c0.2-0.4,0.4-0.8,0.5-1.3c0.1-0.5,0.2-1.1,0.2-1.7c0-0.6-0.1-1.2-0.2-1.7s-0.3-0.9-0.5-1.3c-0.2-0.4-0.5-0.6-0.9-0.8 c-0.4-0.2-0.8-0.3-1.3-0.3s-0.9,0.1-1.3,0.3c-0.4,0.2-0.7,0.5-0.9,0.8c-0.2,0.4-0.4,0.8-0.5,1.3c-0.1,0.5-0.2,1.1-0.2,1.7 c0,0.6,0.1,1.2,0.2,1.7c0.1,0.5,0.3,0.9,0.5,1.3c0.2,0.4,0.5,0.6,0.9,0.8C67.3,54.5,67.7,54.6,68.2,54.6z"/><path class="st0" d="M75.7,45.2c0.1,0,0.3,0,0.5-0.1c0.2,0,0.4,0,0.6-0.1c0.2,0,0.4,0,0.7,0c0.2,0,0.4,0,0.6,0 c0.5,0,1,0.1,1.5,0.2c0.5,0.1,0.9,0.3,1.3,0.6c0.4,0.3,0.7,0.6,0.9,1c0.2,0.4,0.3,1,0.3,1.6c0,0.7-0.1,1.2-0.3,1.7 c-0.2,0.5-0.5,0.8-0.9,1.1c-0.4,0.3-0.8,0.5-1.3,0.6c-0.5,0.1-1,0.2-1.5,0.2c-0.2,0-0.3,0-0.5,0c-0.1,0-0.3,0-0.5,0v3.8 c-0.2,0-0.5,0-0.7,0c-0.1,0-0.2,0-0.4,0c-0.1,0-0.3,0-0.4,0V45.2z M77.2,50.7c0.2,0,0.3,0,0.4,0c0.1,0,0.3,0,0.5,0 c0.3,0,0.6,0,0.9-0.1c0.3-0.1,0.6-0.2,0.8-0.3c0.2-0.2,0.4-0.4,0.6-0.7c0.1-0.3,0.2-0.7,0.2-1.1c0-0.4-0.1-0.7-0.2-1 c-0.1-0.3-0.3-0.5-0.5-0.7c-0.2-0.2-0.5-0.3-0.8-0.4c-0.3-0.1-0.6-0.1-1-0.1c-0.4,0-0.7,0-1,0V50.7z"/><path class="st0" d="M84.8,45.2h5.8c0,0.2,0,0.4,0,0.6c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0,0.3h-4.3v3h3.4c0,0.1,0,0.2,0,0.3 c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0,0.3h-3.4v3.6h4.4c0,0.2,0,0.4,0,0.6c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0,0.3 h-5.9V45.2z"/></g><path class="st0" d="M14.8,42.5l2,5.7l6.3,0.1L18,52l1.9,5.8l-5.2-3.5l-5.2,3.5l1.9-5.8l-5.1-3.6l6.3-0.1L14.8,42.5z M18.5,26.5 l-6.3,0.1l5.1,3.6l-1.9,5.8l5.2-3.5l5.2,3.5l-1.9-5.8l5.1-3.6l-6.3-0.1l-2-5.7L18.5,26.5z M40.4,14.4l5.1-3.6l-6.3-0.1l-2-5.7 l-2,5.7l-6.3,0.1l5.1,3.6L32,20.2l5.2-3.5l5.2,3.5 M35.1,85.3l-6.3,0.1l5.1,3.6L32,94.8l5.2-3.5l5.2,3.5L40.4,89l5.1-3.6l-6.3-0.1 l-2-5.7L35.1,85.3z M80.1,85.3l-6.3,0.1l5.1,3.6L77,94.8l5.2-3.5l5.2,3.5L85.4,89l5.1-3.6l-6.3-0.1l-2-5.7L80.1,85.3z M18.5,69.6 l-6.3,0.1l5.1,3.6l-1.9,5.8l5.2-3.5l5.2,3.5l-1.9-5.8l5.1-3.6l-6.3-0.1l-2-5.7L18.5,69.6z M96.6,69.6l-6.3,0.1l5.1,3.6l-1.9,5.8 l5.2-3.5l5.2,3.5l-1.9-5.8l5.1-3.6l-6.3-0.1l-2-5.7L96.6,69.6z M57.7,91l-6.3,0.1l5.1,3.6l-1.9,5.8l5.2-3.5l5.2,3.5L63,94.7 l5.1-3.6L61.8,91l-2-5.7L57.7,91z"/></g></svg>

                    </span>
                    <a href="#" class="language"><?php echo __('COUNTRY') ?>: DK</a>
                </div>
                <div class="bottom-shortcuts">
                    <?php echo $this->getChildHtml('minicart'); ?>
                    <?php echo $this->getChildHtml("top.links"); ?>
                    <a href="#" id="search"><svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;"><path d="M27.2,26.5l-4.8-4.8C24,19.9,25,17.6,25,15c0-5.5-4.5-10-10-10S5,9.5,5,15s4.5,10,10,10c1.9,0,3.6-0.5,5.1-1.4l5,5L27.2,26.5z M8,15c0-3.9,3.1-7,7-7s7,3.1,7,7s-3.1,7-7,7S8,18.9,8,15z"></path></svg></a>
                </div>
            </div>
        </div>
    </div>
</div>