//@font-face {
//	font-family: "FontAwesome";
//	src: url('../fonts/fa-solid-900.eot');
//	src: url('../fonts/fa-solid-900.eot') format('embedded-opentype'),
//		 url('../fonts/fa-solid-900.woff') format('woff'),
//		 url('../fonts/fa-solid-900.ttf') format('truetype');
//
//	//src: url('../fonts/fa-regular-400.eot');
//	//src: url('../fonts/fa-regular-400.eot') format('embedded-opentype'),
//	//url('../fonts/fa-regular-400.woff') format('woff'),
//	//url('../fonts/fa-regular-400.ttf') format('truetype');
//}
@import "sections/variables";
@import "sections/header";
@import "sections/footer";
@import "sections/page";
@import "sections/catalog-product-view";
@import "sections/swatches";
@import "sections/modal";
@import "sections/related";