<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
//$_helper = $block->helper('catalog/output');
//
//$_product = $block->getProduct();
//
//$_imagesRaw = $_product->getMediaGalleryImages();
//$_images = [];
//$_images['gallery'] = [];

use Magento\Catalog\Model\Product\Gallery\ReadHandler as GalleryReadHandler;


$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product'); //get current product


?>


<?php /* @escapeNotVerified */ $json=$block->getGalleryImagesJson();
$array = json_decode($json,true);
?>

<div class="product-page">
		<a href="#" class="back-link">
          <svg width="25" height="8" xmlns="http://www.w3.org/2000/svg" class="arrow">
           <g>
            <title>background</title>
            <rect x="-1" y="-1" width="27" height="10" id="canvas_background" fill="none"/>
           </g>

           <g>
            <title>Layer 1</title>
            <path class="line" stroke-width="1px" fill="none" stroke="#000" d="m2.04762,4.19048l21,0" id="svg_1"/>
            <path transform="rotate(180 2.9761936664581294,4.190475940704346) " class="end" stroke-width="1px" fill="none" stroke="#000" d="m1.47619,1.19048l3,3l-3,3" id="svg_2"/>
           </g>
          </svg>
			<?php echo __('Back to collection'); ?>
        </a>
	<div class="main-image">
		<div class="desktop">
			<?php
			foreach($array as $item)
			{
                if($item['isMain'] == true) {
                    $isMain = $item;
                }
				?>

				<?php
			}
			?>
			<div class="item">
				<div class="inner">
					<div class="item" style="background-image: url(<?php echo $isMain['full'] ?>)"></div>
				</div>
			</div>
			<svg class="down-link" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 64">
            	<path class="line" stroke-width="2px" stroke="#7f7f7f" fill="none" d="M13,0L13,45"></path>
            	<path class="end" stroke-width="2px" stroke="#7f7f7f" fill="none" d="M2,35L13,46L24,35"></path>
			</svg>
		</div>
		<div class="mobile">
			<div class="item">
				<div class="item" style="background-image: url(<?php echo $isMain['full'] ?>)"></div>
			</div>
		</div>
	</div>

	<?php echo $block->getChildHtml('product.info.main2.outer')?>

	<div class="gallery">
		<?php
        foreach($array as $item)
        {
            if($item['isMain'] !== true) {
                $imgurl = $item['full'];
                ?>
				<div class="item">
					<div class="inner">
						<div class="image" style="background-image: url(<?php echo $imgurl ?>)"></div>
					</div>
				</div>
				<?php

            }
            ?>
            <?php
        }
		?>
	</div>
</div>


<!--temporary static content in modals-->

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path stroke="#000000" stroke-width="2px" d="M2,2 L22,22 M22,2 L2,22"></path></svg>
        </span>
        <img id="img01"/>
    </div>
    <div id="caption"></div>
</div>


<div id="popup-modal" style="display:none;">
</div>

<div id="modal-care" class="modal">
    <div class="modal-content small">
		<span class="close">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path stroke="#000000" stroke-width="2px" d="M2,2 L22,22 M22,2 L2,22"></path></svg>
        </span>
		<div class="small-inner">
			<div class="modal-head">
				<h3 class="title">
					CARE
				</h3>
			</div>
			<div class="modal-body">
				<div class="desc">
					<p>Machine wash, aiayu recommends 30 – 40 degrees, environment friendly soap, no bleach, air-dry, no or low iron.</p>
					<p>Washing is hard on your textiles and on the environment. Washing on low temperature is a great way to save resources.</p>
				</div>
			</div>
		</div>
    </div>
</div>

<div id="modal-delivery" class="modal">
    <div class="modal-content small">
		<span class="close">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path stroke="#000000" stroke-width="2px" d="M2,2 L22,22 M22,2 L2,22"></path></svg>
		</span>
		<div class="small-inner">
			<div class="modal-head">
				<h3 class="title">
					DELIVERY
				</h3>
			</div>
			<div class="modal-body">
				<div class="desc">
					<p>Shipping rates &amp; delivery time to <strong>DENMARK</strong>:<br>GLS pakkeshop - 35 DKK&nbsp;<br>GLS erhverv - 35 DKK&nbsp;<br>Post Danmark - 65 DKK<br>Standard delivery time 1-2 days.</p>
					<p>Shipping rates &amp; delivery to countries within <strong>EU</strong>:<br>GLS courier service - 15€<br>Standard delivery time: 2-4 days</p>
					<p>Shipping rates &amp; delivery time <strong>WORLDWIDE</strong>:<br>UPS - 25 €<br>Standard delivery time is 3-6 days. Packages may be delayed in customs, and AIAYU cannot be held accountable for this.&nbsp;</p>
					<p><em>PLEASE NOTE: When you select delivery to a country outside EU, all prices are shown without VAT and duties. Upon arrival, international orders are subject to duties and taxes.&nbsp;</em>
				</div>
			</div>
		</div>
    </div>
</div>


<div id="modal-size-guide" class="modal">
    <div class="modal-content small">
		<span class="close">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path stroke="#000000" stroke-width="2px" d="M2,2 L22,22 M22,2 L2,22"></path></svg>
        </span>
		<div class="small-inner">
			<div class="modal-head">
				<h3 class="title">
					SIZE GUIDE
				</h3>
			</div>
			<div class="modal-body">
				<div class="desc">
					<p><img src="<?php echo $block->getViewFileUrl('images/sizechart_2_1.png'); ?>"</p>
				</div>
			</div>
		</div>
    </div>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'popup modal title',
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#popup-modal'));
            $("#size-guide").on('click',function(){
                $("#popup-modal").modal("openModal");
            });
        }

    );
</script>

<script type="text/javascript">
    require(['jquery', 'mage/gallery/gallery'], function($, gallery){

        var custom_modal = document.getElementById('myModal');

        var modalImg = document.getElementById("img01");

        $('.product-page .gallery .item .image').on('click', function(){
            var bg = $(this).css('background-image');
            img_source = bg.replace('url(','').replace(')','').replace(/\"/gi, "");
            console.log(bg);
            custom_modal.style.display = "block";
            custom_modal.style.opacity = "1";
            modalImg.src = img_source;
            $('#myModal').on('click', function(){
                custom_modal.style.display = "none";
                custom_modal.style.opacity = "0";
            });
            $('#myModal img').on('click', function(){
                event.stopPropagation();
            });
        });

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function() {
            custom_modal.style.display = "none";
            custom_modal.style.opacity = "0";
        };


        var custom_modal_care = document.getElementById('modal-care');
        var custom_modal_delivery = document.getElementById('modal-delivery');
        var custom_modal_size_guide = document.getElementById('modal-size-guide');

        $('#care').on('click', function(){
            event.preventDefault();
            custom_modal_care.style.display = "block";
            custom_modal_care.style.opacity = "1";

            $('#modal-care').on('click', function(){
                $(this).css('display','none');
                custom_modal_care.style.opacity = "0";
            });
            $('#modal-care .small-inner').on('click', function(){
                event.stopPropagation();
            });
        });

        $('#delivery').on('click', function(){
            event.preventDefault();
            custom_modal_delivery.style.display = "block";
            custom_modal_delivery.style.opacity = "1";

            $('#modal-delivery').on('click', function(){
                $(this).css('display','none');
                custom_modal_delivery.style.opacity = "0";

            });
            $('#modal-delivery .small-inner').on('click', function(){
                event.stopPropagation();
            });
        });

        jQuery(document).on('swatch.initialized', function() {
            $('#size-guide').on('click', function(){
                event.preventDefault();
                custom_modal_size_guide.style.display = "block";
                custom_modal_size_guide.style.opacity = "1";

                $('#modal-size-guide').on('click', function(){
                    $(this).css('display','none');
                    custom_modal_size_guide.style.opacity = "0";

                });
                $('#modal-size-guide .small-inner').on('click', function(){
                    event.stopPropagation();
                });
            });
		});


        var span = document.getElementsByClassName("close")[0];

        span.onclick = function() {
            custom_modal_care.style.display = "none";
            custom_modal_delivery.style.display = "none";
            custom_modal_size_guide.style.display = "none";
        };

    });

</script>

