<div id="mobile-cart-options"></div>

<!--custom with temp static content-->
<div class="extra-links">
	<a href="#" id="care">Care</a>
	<a href="#" id="delivery">Delivery</a>
</div>




<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'popup modal title',
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            // var popup = modal(options, $('#popup-modal'));
            // $("#size-guide").on('click',function(){
            //     $("#popup-modal").modal("openModal");
            // });


        });
</script>